

.mini-items {
    list-style: none;
    background-color: rgb(241, 238, 234);
    border-color: black;
    box-shadow: 2px 2px;
    margin-left: 0px;
    padding: 3px;
    text-decoration: none;
}

#profile {

    margin: -1.3em;
}


.mini-menu {
    display: none;
}

#profile:hover > .mini-menu{
    display: block;
    cursor: pointer;
}

.mini-items a {
    text-decoration: none;
}