<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{% static 'images/sf.png' %}" type="image/x-icon">
    <title>API Swiss | Your Gateway to Ghana APIs</title>
</head>
<body>
    <div class="header">
        <div class="navigation">
            <div class="navbar">
                <ul class="navbar_ul">
                    <li class="navbar_list list"><a href="#home">Home</a></li>
                    <li class="navbar_list list"><a href="#pricing">Pricing</a></li>
                    <li class="navbar_list list"><a href="#how">How it Works</a></li>
                    <li class="navbar_list list"><a href="#about">About</a></li>
                    <li class="navbar_list signup"><a href="#" id="login">Login</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
{% block body %}

{% endblock body %}

<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
</body>
</html>
