{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!--container-->
    <div class="container">
        <!--header-->
        
        </div>
        <!--section One Intro-->
        <div class="section_one" id="home">
            <div class="signup_form" id="signup">
                <div id="closeForm">x</div>
                <div class="signup_title">
                    <h3>Create an Account</h3>
                    <p>Let's Get You Started</p>
                </div>
                <form action="" method="post">
                    <label for="name">Company Name</label>
                    <input type="text" name="name" id="" placeholder="Company Name">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="" placeholder="Email">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="" placeholder="Password">
                    <input type="submit" value="Continue" class="submit">
                    <span>Already have an account? <a href="#" id="loginForm">Login</a></span>
                </form>
            </div>
            
            <div class="main_text">
                <h1>Unlock the Power of Ghana with API Swiss</h1>
                <p>Explore Ghana's diverse data offerings with our specialized APIs. Whether you're interested in Ghana's cuisine, stock market, or universities, we've got you covered.</p>
                <div class="button_main">
                    <a id='start-now' href="#"><button>Start Now</button></a>
                </div>
                <div class="main_socials">
                    <ul class="social_list">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_image">
                <img src="{% static 'images/e1.svg' %}">
            </div>
        </div>
        <!--navbar menu mobile-->
        <div id="menu">
            <span></span>
            <span></span>
            <span class="span_small"></span>
        </div>
        <div id="close_menu">x</div>
        
        <!-- section two UTD-->
        <div class="section_two" id="how">
            <div class="triangle_model">
                <div class="upload">
                    <div class="utd_title">
                        <h3>Students</h3>
                        <p>Upload Your Company Data to Our Machine Learning Platform</p>
                    </div>
                </div>
                <hr class="hr">
                <div class="train">
                    <div class="utd_title">
                        <h3>Developers</h3>
                        <p>Train Your Model on the Company Data</p>
                    </div>
                </div>
                <hr class="hr">
                <div class="deploy">
                    <div class="utd_title">
                        <h3>Enthusiasts</h3>
                        <p>Deploy Your Model for Service Rendering</p>
                    </div>
                </div>
            </div>
        </div>
        <!--section three about-->
        <div class="section_three" id="about">
            <div class="about_main">
                <h2>Why Choose API Swiss?</h2>
                <p>API Swiss is an AI system designed to assist companies in training data for customer service purposes. It leverages machine learning and natural language processing techniques to act as a virtual assistant. It can analyze vast amounts of customer interactions, understand intent, and provide valuable insights to enhance customer service operations.</p>
                <div class="button_main sec"><button>Start Now</button></div>
            </div>
            <div class="about_sec">
                <div class="about_cards">
                    <div class="ab_card">
                        <div class="ab_subcard">
                            <div class="ab_img">
                                
                            </div>
                            <div class="ab_text">
                                <h3>Enhanced Efficiency</h3>
                                <p>By automating the data training process, the AI system significantly improves efficiency by reducing the time and effort required for manual data analysis. It can process and analyze large volumes of customer interactions much faster, enabling companies to derive actionable insights in real-time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ab_card">
                        <div class="ab_subcard">
                            <div class="ab_img">
                                <img src="" alt="">
                            </div>
                            <div class="ab_text">
                                <h3>Improved Customer Experience</h3>
                                <p>The AI system helps companies gain a deeper understanding of their customers' needs, preferences, and pain points by analyzing their interactions. With this valuable information, companies can tailor their customer service strategies and provide personalized experiences, leading to increased customer satisfaction and loyalty.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             
        <footer>
            <div class="footer_title">
                <h3>API Swiss</h3>
                <p>Unlock, Train, and Deploy</p>
                <div class="footer_socials">
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <hr class="f_hr">
                    <li><a href="#">Pricing</a></li>
                    <hr class="f_hr">
                    <li><a href="#">How it Works</a></li>
                    <hr class="f_hr">
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </footer>
    </div>
    
{% endblock body %}